body {
    background-color: burlywood;
    padding-top: 2opx;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 30px;
}
h1 {
    color: black
    ;
    text-align: center;
}
p {
    color: black;
}